body{
    background-color: #212121;
    height:5000px;
    font-family: "Inter", sans-serif;
    font-weight:400;
}
.line{
    position:absolute;
    height:150px;
    left: 50%;
    border-left: 0px solid rgb(87, 87, 87);
    margin-top: 0px;

}
.line2{

    height:100px;
    left: 50%;
    border-left: 0px solid rgb(87, 87, 87);
    margin-top: 0px;

}
.line, .line2{
	background-image: linear-gradient(
		to bottom,
		#404040 5%,
		#aaa 10%,
		#404040 15%
	);
	width: 1px;
	height: 100px;
	background-size: 100% 190%;
	animation: gradientAnimation 2s linear infinite;
}

@keyframes gradientAnimation {
	0% {
		background-position: 0 50%;
	}
	100% {
		background-position: 0 -100%;
	}
}

/*Typing animation*/
.typing-container {
    font-size: 25px;
    display: flex;
    align-items: center;
}

.cursor {
    font-weight: bold;
    color: #ffffff;
    animation: blink 0.7s steps(1) infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}